extends layout

block body
  - var controlGroupClass, value, item, field
  - var tabIndex = 1
  .row
    .span4.offset1.gumph
      h2 Reapply
      p Your application to So Make It was rejected for the following reason(s):
      blockquote= user.data.rejectedReason || "No reason given"
      p Please correct your information and reapply.
      p By joining you're becoming a member of So Make It Ltd. 
        strong
          a(href="http://www.legislation.gov.uk/ukpga/2006/46/part/8/chapter/2/crossheading/general") UK law
          |  requires that you provide your real name and address in order to join.
        |  Your name will be visible to all members.

    .span4.offset1.register-form
      h2 Correct your details
      form(action='/reapply', method='POST')
        fieldset
          input(type='hidden', name='form', value='reapply')
          input(type='hidden', name='reapply', value='true')
          input(type='hidden', name='email', value=data.email)
          input(type='hidden', name='password', value=data.password)

          p
            strong
              a(href="http://www.legislation.gov.uk/ukpga/2006/46/part/8/chapter/2/crossheading/general") UK law
              |  requires you to provide your real name and address to become a member of So Make It Ltd.
          - each field in ['Full Name']
            - item = field.replace(/ /,"").toLowerCase()
            - controlGroupClass = (err && err[item] ? "error" : "")
            .control-group(class=controlGroupClass)
              label(class="text-"+controlGroupClass)= field
              input.text(type='text', name=item, placeholder='Required', value=data[item], tabindex=tabIndex++)

          - controlGroupClass = (err && err.address ? "error" : "")
          .control-group(class=controlGroupClass)
            label(class="text-"+controlGroupClass) Postal Address
            textarea.text(name='address', placeholder='Required', rows=4, tabindex=tabIndex++)= data.address

          //-- controlGroupClass = (err && err.wikiname ? "error" : "")
          //-.control-group(class=controlGroupClass)
            //-label(class="text-"+controlGroupClass) Wiki Username (if you have one)
            //-input.text(type='text', name='wikiname', placeholder='Optional', value=data.wikiname, tabindex=tabIndex++)

          - controlGroupClass = (err && err.terms ? "error" : "")
          .control-group(class=controlGroupClass)
            label(class="text-"+controlGroupClass)
              input(type="checkbox", name="terms", tabindex=tabIndex++)
              |  I confirm that the information I have entered above is not
              |  fraudulent, that I wish to become a member of So Make It Ltd.,
              |  and that I agree to be bound by the 
              a(href="http://so-make-it.github.com/constitution/constitution.pdf") constitution
              |  and 
              a(href="http://wiki.somakeit.org.uk/wiki/Rules") rules
              |.

          if err && err.unknown
            p.text-error An unknown error occurred. Please contact 
              a(href="mailto:benjie@somakeit.org.uk?subject=Signup%20Issue") Benjie
              | .

          button.btn.btn-primary.btn-large(type='submit', tabindex=tabIndex++) Sign up

