extends layout

block content
  h2 #{user.fullname}
  p Username: #{user.username}
  if user.wikiname
    p Wiki account: 
      a(href="http://wiki.somakeit.org.uk/wiki/User:#{user.wikiname}") #{user.wikiname}
  if admin
    p Email: #{user.email}
    p Address:
      pre #{user.address}
  if user.approved && user.approved.getYear() > 112
    p Member since: #{user.approved}
  else if admin
    form(method="POST").approval
      input(type='hidden', name='form', value='approval')
      h3 Approve or reject
      p Rejection message (it's only polite!):
      textarea(name='message')
      br
      if voted
        p You've already voted for this user. (Votes: #{user.data.votes.length}/#{locals.requiredVotes})
      else
        button(name='approve', value='1').btn.btn-success Approve 
          | #{user.data.votes.length}/#{locals.requiredVotes}
      button(name='reject', value='1').btn.btn-danger Reject
