extends layout

block content
  h2 #{user.fullname}
  p Username: #{user.username}
  if user.wikiname
    p Wiki account: 
      a(href="http://wiki.somakeit.org.uk/wiki/User:#{user.wikiname}") #{user.wikiname}
  if admin
    p Email: #{user.email}
      if user.data.validationCode && user.email === user.data.email
        strong(style='color:red')  (unverified)
    p Address:
      pre #{user.address}
  if user.approved && user.approved.getFullYear() > 2012
    p Member since: #{user.approved}
    if admin
      hr
      h3 ADMIN STUFF
      if !user.paidUntil || !(user.paidUntil.getFullYear() >= 2013)
        - var paidUntil = user.paidUntil
        if user.approved > paidUntil
          - paidUntil = user.approved
        - var duration = Math.floor((new Date() - paidUntil)/(24*60*60*1000));
        - durationText = duration + (duration == 1 ? " day" : " days")
        p.text-error Member has made no payments (#{durationText} overdue)
      else if user.paidUntil.getTime() <= new Date().getTime()
        p.text-error Subscription overdue by #{Math.floor((+new Date() - +user.paidUntil)/(24*60*60*1000))} day(s).
      else
        p.text-success Paid up until 
          = user.paidUntil.toString()
      h4 Payments
      if payments.length == 0
        p.text-error No payments made
      else
        table.table.table-striped
          tr
            each entry, key in paymentColumns
              th= entry.t
          for payment in payments
            tr
              each entry, key in paymentColumns
                td= entry.f(payment[key], payment)
      form(method='POST')
        input(type='hidden', name='form', value='payment')
        h4 Register a payment
        p.text-info
          strong The form below has sensible defaults, please ensure you understand what they mean if you change them.
        table.table.table-bordered(style='width:auto')
          tr
            th Payment type
            td
              select(name='type')
                option(value='CASH', selected) CASH
                option(value='PAYPAL') PayPal
                option(value='OTHER') Other
              if error && error.type
                if error.invalidType
                  p.text-error Invalid type of payment: '#{error.invalidType}'.
                else
                  p.text-error Unknown error with type.
          tr
            th Payment date
              br
              small (YYYY-MM-DD)
            td
              -dateString = formatDate(new Date())
              input(name='made', value=dateString)
              if error && error.date
                p.text-error Invalid date.
                if error.invalidYear
                  p.text-error Invalid year
                if error.invalidMonth
                  p.text-error Invalid month
                if error.invalidDay
                  p.text-error Invalid day
          tr
            th Amount
              br
              small £ (GBP)
            td
              input(name='amount', value='5')
              if error && error.amount
                p.txt-error Invalid amount - must be at least £5 (less any PayPal/etc fees - actual minimum is £4.50).
          tr
            th Period start
              br
              small (YYYY-MM-DD)
            td
              -dateString = formatDate(user.paidUntil && user.paidUntil.getFullYear() > 2012 ? user.paidUntil : user.approved)
              input(name='subscriptionFrom', value=dateString)
              if error && error.date
                p.text-error Invalid date.
                if error.invalidYear
                  p.text-error Invalid year
                if error.invalidMonth
                  p.text-error Invalid month
                if error.invalidDay
                  p.text-error Invalid day
          tr
            th Duration 
              br
              small (months, the period covered by the payment)
            td
              select(name='duration')
                option(value='1', selected="selected") 1 month
                option(value='2') 2 month
                option(value='3') 3 month
                option(value='6') 6 month
                option(value='12') 12 month
              if error && error.duration
                p.text-error Invalid duration - how did you manage that?
        button.btn.btn-warning(type='submit') Register payment
  else if admin && user.data && user.data.rejected
    h3 Approval status
    p.text-warning User has been rejected, we're awaiting re-application.
  else if admin
    form(method="POST").approval
      input(type='hidden', name='form', value='approval')
      h3 Approve or reject
      p Rejection message (it's only polite!):
      textarea(name='message')
      br
      if voted
        p You've already voted for this user. (Votes: #{user.data.votes.length}/#{locals.requiredVotes})
      else
        if user.data.votes.length < locals.requiredVotes - 1
          button(name='approve', value='1').btn.btn-success Approve 
            | #{user.data.votes.length}/#{locals.requiredVotes}
        else
          button(name='approve', value='1').btn.btn-success Grant Membership
      button(name='reject', value='1').btn.btn-danger Reject
