extends layout

block content
  h2 User list
  ul.user-list
    each user in users
      -className = ""
      if loggedInUser.admin
        if !user.approved || user.approved.getFullYear() < 2013
          -className += " unapproved"
        else
          if !user.paid_until || user.paid_until.getFullYear() < 2013
            -className += " neverpaid"
          else if +user.paid_until < +new Date()
            -className += " overdue"
        if user.data && user.data.validationCode && user.data.email == user.email
          -className += " unverified"
      li(class=className)
        if user.approved && user.approved.getFullYear() >= 2013
          a(href="/user/#{user.id}") #{user.fullname} (#{user.username})
            if admin
              if !user.paid_until || user.paid_until.getFullYear() < 2013
                small  (never paid)
              else if +user.paid_until < +new Date()
                small  (overdue for #{Math.floor((+new Date() - user.paid_until)/(24*60*60*1000))} days)
        else
          a(href="/user/#{user.id}") #{user.fullname} (#{user.username})
            if user.data && user.data.validationCode && user.data.email == user.email
              small  (unverified)
            else
              small  (pending approval)
